.team-management-head{
    height: 35px;
    width: 300px;
    background-color:indigo;
    text-align: center;
    border-radius: 10px;  
    color:antiquewhite;   
}
.team-management-head p{
    color: white;
}
.avtar{
   border-radius: 50%;
   height: 100px;
  
}

.leader-first-line{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    padding-top: 40px;
  
}
.leader-second-line{
    display: flex;
    width: 100%;
    justify-content:space-evenly;
    padding-top: 40px;
}