.team-management-head{
    height: 50px;
    width: 300px;
    background-color:indigo;
    text-align: center;
    border-radius: 10px;  
}
.team-management-head p{
    color: white;
}
.avtar{
   border-radius: 50%;
   height: 100px;
  
}

.avtar-first-line{
   display: flex;
   align-items: center;
   justify-content: space-evenly;
   width: 100%;
}
.avtar-second-line{
    display: flex;
    width: 100%;
    justify-content:space-between;
}