.team-dev-head{
    height: 35px;
    width: 300px;
    background-color:indigo;
    text-align: center;
    border-radius: 10px;  
    color:antiquewhite;
}

.avtar{
   border-radius: 50%;
   height: 100px;  
}

.dev-first-line{
   display: flex;
   align-items: center;
   justify-content: space-between;
   width: 100%;
   padding-top: 40px;
}
.dev-second-line{
    display: flex;
    width: 100%;
    justify-content:space-evenly;
    padding-top: 40px;
}