.App{
  background-color: ghostwhite;
  margin-top: 5%;
  margin-left: 5%;
  margin-right: 5%;
}

.App-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;
}